body{   
    background-color: #ffffff;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 0px;
    display: grid;
    height: 100vh;
    width: 100vW;
}

.container_p{
    grid-column: 1/7;
    grid-row: 2/12;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(6, 1fr);
    display: grid;
}

div.container_p article {
    grid-column: 3/5;
    grid-row: 4/9;
    padding-bottom: 40px;
}

div.container_p .boka_p{
    grid-column: 3/5;
    grid-row: 9/10;
    box-shadow: 10px, 10px, 10px, 10px #000000;
    border-radius: none;
    align-content: center;
    vertical-align: center;
    padding-left: 150px;
    padding-bottom: 20px;
}

div.container_p .boka_p h2{
    font-size: 1em;
    
}

.boka_p button{
    background-color: #000000;  
    
}

.overbild_p{
    grid-column: 1/7;
    grid-row: 1/5; 
}

@media screen and (max-width: 376px){
    body{   
        background-color: #ffffff;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(12, 1fr);
        margin: 0px;
        display: grid;
        height: 100vh;
        width: 100vW;
    }
    
    .container_p{
        grid-column: 1/13;
        grid-row: 2/12;
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: repeat(6, 1fr);
        display: grid;
    }
    
    div.container_p article{
        grid-column: 2/6;
        grid-row: 4/9;
    }
    
    div.container_p .boka_p{
        box-shadow: 10px, 10px, 10px, 10px #000000;
        border-radius: none;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    div.container_p .boka_p h2{
        font-size: 0.8em;
        
    }

    div.container_p article p{
        font-size: 0.6em;
    }

    div.container_p article h1{
        font-size: 1.2em;
    }
    
    .boka_p button{
        background-color: #000000; 
        grid-column: 3/5;
        grid-row: 1/4;  
    }
    
    .overbild_p{
        grid-column: 1/7;
        grid-row: 1/4; 
    }
}





