@import '_index.css.scss';
@import '_ptsida.css.scss';
@import '_traningssida.css.scss';
@import '_utegym.css.scss';
@import '_layout.css.scss';
@import '_kontakt.css.scss';
@import '_login.css.scss';